[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
requests = "*"
fastapi = "*"
uvicorn = "*"
sqlalchemy = "*"
pymysql = "*"
python-dotenv = "*"
pydantic = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.13"
